iManage-GetDocumentLatestVersion.txt
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "actions": {
            "AuthToken": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "secretName": "iManageCloudAuthToken"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "keyVault",
                        "operationId": "getSecret",
                        "serviceProviderId": "/serviceProviders/keyVault"
                    }
                },
                "runAfter": {},
                "runtimeConfiguration": {
                    "secureData": {
                        "properties": [
                            "inputs",
                            "outputs"
                        ]
                    }
                }
            },
            "GetLatestVersion": {
                "type": "Http",
                "inputs": {
                    "uri": "https://goodwin.cloudimanage.com/work/api/v2/customers/7426/libraries/ACTIVE/documents/@{triggerBody()?['DocumentID']}/versions/latest",
                    "method": "GET",
                    "headers": {
                        "Accept": "*/*",
                        "Content-Type": "application/json",
                        "X-Auth-Token": "@{body('AuthToken')?['value']}"
                    }
                },
                "runAfter": {
                    "AuthToken": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "DefaultSec": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "default_sec",
                            "type": "string",
                            "value": "private"
                        }
                    ]
                },
                "runAfter": {
                    "DocID": [
                        "SUCCEEDED"
                    ]
                }
            },
            "DocID": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "DocID",
                            "type": "string",
                            "value": "@{body('GetLatestVersion')?['data']?['id']}"
                        }
                    ]
                },
                "runAfter": {
                    "Version": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Until": {
                "type": "Until",
                "expression": "@or(not(equals(variables('default_sec'), 'private')), equals(variables('Version'), 0))",
                "limit": {
                    "count": 60,
                    "timeout": "PT1H"
                },
                "actions": {
                    "HTTP": {
                        "type": "Http",
                        "inputs": {
                            "uri": "https://goodwin.cloudimanage.com/work/api/v2/customers/7426/libraries/@{triggerBody()?['Database']}/documents/@{variables('DocID')}",
                            "method": "GET",
                            "headers": {
                                "Accept": "*/*",
                                "Content-Type": "application/json",
                                "X-Auth-Token": "@{body('AuthToken')?['value']}"
                            }
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        }
                    },
                    "Set_DocID": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "DocID",
                            "value": "@concat('ACTIVE!', body('Parse_JSON')?['data']?['document_number'], '.', add(int(body('Parse_JSON')?['data']?['version']), -1))\r\n"
                        },
                        "runAfter": {
                            "Set_DefaultSec": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Parse_JSON": {
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@body('HTTP')",
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "data": {
                                        "type": "object",
                                        "properties": {
                                            "access": {
                                                "type": "string"
                                            },
                                            "author_description": {
                                                "type": "string"
                                            },
                                            "author": {
                                                "type": "string"
                                            },
                                            "author_info": {
                                                "type": "object",
                                                "properties": {
                                                    "allow_logon": {
                                                        "type": "boolean"
                                                    },
                                                    "is_external": {
                                                        "type": "boolean"
                                                    }
                                                }
                                            },
                                            "checked_out": {
                                                "type": "boolean"
                                            },
                                            "checksum": {
                                                "type": "string"
                                            },
                                            "class": {
                                                "type": "string"
                                            },
                                            "class_description": {
                                                "type": "string"
                                            },
                                            "coauthoring_file_size_limit": {
                                                "type": "integer"
                                            },
                                            "coauthoring_file_size_warning": {
                                                "type": "boolean"
                                            },
                                            "content_type": {
                                                "type": "string"
                                            },
                                            "create_date": {
                                                "type": "string"
                                            },
                                            "create_profile_date": {
                                                "type": "string"
                                            },
                                            "custom1": {
                                                "type": "string"
                                            },
                                            "custom11": {
                                                "type": "string"
                                            },
                                            "custom11_ssid": {
                                                "type": "string"
                                            },
                                            "custom1_ssid": {
                                                "type": "string"
                                            },
                                            "custom2": {
                                                "type": "string"
                                            },
                                            "custom2_ssid": {
                                                "type": "string"
                                            },
                                            "database": {
                                                "type": "string"
                                            },
                                            "default_security": {
                                                "type": "string"
                                            },
                                            "document_number": {
                                                "type": "integer"
                                            },
                                            "edit_date": {
                                                "type": "string"
                                            },
                                            "edit_profile_date": {
                                                "type": "string"
                                            },
                                            "email_type": {
                                                "type": "boolean"
                                            },
                                            "extension": {
                                                "type": "string"
                                            },
                                            "external": {
                                                "type": "boolean"
                                            },
                                            "external_as_normal": {
                                                "type": "boolean"
                                            },
                                            "file_create_date": {
                                                "type": "string"
                                            },
                                            "file_edit_date": {
                                                "type": "string"
                                            },
                                            "hipaa": {
                                                "type": "boolean"
                                            },
                                            "id": {
                                                "type": "string"
                                            },
                                            "in_use": {
                                                "type": "boolean"
                                            },
                                            "indexable": {
                                                "type": "boolean"
                                            },
                                            "is_checked_out": {
                                                "type": "boolean"
                                            },
                                            "is_declared": {
                                                "type": "boolean"
                                            },
                                            "is_external": {
                                                "type": "boolean"
                                            },
                                            "is_external_as_normal": {
                                                "type": "boolean"
                                            },
                                            "is_hipaa": {
                                                "type": "boolean"
                                            },
                                            "is_in_use": {
                                                "type": "boolean"
                                            },
                                            "is_restorable": {
                                                "type": "boolean"
                                            },
                                            "iwl": {
                                                "type": "string"
                                            },
                                            "last_user": {
                                                "type": "string"
                                            },
                                            "last_user_description": {
                                                "type": "string"
                                            },
                                            "last_user_info": {
                                                "type": "object",
                                                "properties": {
                                                    "allow_logon": {
                                                        "type": "boolean"
                                                    },
                                                    "is_external": {
                                                        "type": "boolean"
                                                    }
                                                }
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "operator": {
                                                "type": "string"
                                            },
                                            "operator_description": {
                                                "type": "string"
                                            },
                                            "operator_info": {
                                                "type": "object",
                                                "properties": {
                                                    "allow_logon": {
                                                        "type": "boolean"
                                                    },
                                                    "is_external": {
                                                        "type": "boolean"
                                                    }
                                                }
                                            },
                                            "restorable": {
                                                "type": "boolean"
                                            },
                                            "retain_days": {
                                                "type": "integer"
                                            },
                                            "size": {
                                                "type": "integer"
                                            },
                                            "system_edit_date": {
                                                "type": "string"
                                            },
                                            "type": {
                                                "type": "string"
                                            },
                                            "type_description": {
                                                "type": "string"
                                            },
                                            "version": {
                                                "type": "integer"
                                            },
                                            "wopi_file_size_limit": {
                                                "type": "integer"
                                            },
                                            "wopi_file_size_warning": {
                                                "type": "boolean"
                                            },
                                            "workspace_id": {
                                                "type": "string"
                                            },
                                            "workspace_name": {
                                                "type": "string"
                                            },
                                            "wstype": {
                                                "type": "string"
                                            },
                                            "custom11_description": {
                                                "type": "string"
                                            },
                                            "custom1_description": {
                                                "type": "string"
                                            },
                                            "custom2_description": {
                                                "type": "string"
                                            },
                                            "is_related": {
                                                "type": "boolean"
                                            },
                                            "related": {
                                                "type": "boolean"
                                            },
                                            "subclass": {
                                                "type": "string"
                                            },
                                            "subclass_description": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "runAfter": {
                            "HTTP": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Set_DefaultSec": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "default_sec",
                            "value": "@body('Parse_JSON')?['data']?['default_security']"
                        },
                        "runAfter": {
                            "Parse_JSON": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Set_variable": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "Version",
                            "value": "@add(int(body('Parse_JSON')?['data']?['version']), -1)"
                        },
                        "runAfter": {
                            "Set_DocID": [
                                "SUCCEEDED"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "DefaultSec": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Version": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "Version",
                            "type": "integer",
                            "value": 0
                        }
                    ]
                },
                "runAfter": {
                    "GetLatestVersion": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Condition": {
                "type": "If",
                "expression": {
                    "or": [
                        {
                            "not": {
                                "equals": [
                                    "@variables('default_sec')",
                                    "private"
                                ]
                            }
                        }
                    ]
                },
                "actions": {
                    "Response": {
                        "type": "Response",
                        "kind": "Http",
                        "inputs": {
                            "statusCode": 200,
                            "body": "@body('HTTP')"
                        }
                    }
                },
                "else": {
                    "actions": {
                        "Response_Empty": {
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 204
                            }
                        }
                    }
                },
                "runAfter": {
                    "Until": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "outputs": {},
        "triggers": {
            "When_an_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "object",
                        "properties": {
                            "DocumentID": {
                                "type": "string"
                            },
                            "Database": {
                                "type": "string"
                            },
                            "requestor": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "DocumentID",
                            "Database",
                            "requestor"
                        ]
                    }
                }
            }
        }
    },
    "kind": "stateful"
}